.m-homeremd .remd_songs {
    position: relative;
    padding-bottom: 24px;
}
.m-homeremd .remd_ul {
    padding-bottom: 16px;
}
.m-homeremd .remd_ul:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
    content: ".";
}


.m-homeremd .remd_li {
    display: block;
    float: left;
    width: 33.3%;
    padding-left: 1px;
    padding-right: 1px;
    box-sizing: border-box;
}

.m-homeremd .remd_li:first-child {
    padding-left: 0;
    padding-right: 2px;
}
a, a:visited {
    color: #333;
}

a, del, ins, s, u {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}
.m-homeremd .remd_img {
    position: relative;
    padding-bottom: 100%;
}

.m-homeremd .remd_img>.u-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.u-img {
    width: 100%;
    vertical-align: middle;
}
abbr, body, fieldset, html, iframe, img {
    border: 0;
}

.m-homeremd .remd_lnum {
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 3;
    padding-left: 13px;
    color: #fff;
    font-size: 12px;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 11px 10px;
    text-shadow: 1px 0 0 rgba(0,0,0,.15);
}
.u-earp {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==);
}

.m-homeremd .remd_text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 6px 2px 0 6px;
    line-height: 1.2;
    font-size: 13px;
}