.m-homeft {
    position: relative;
    padding-top: 53.3%;
    margin-top: 4px;
    background: url(http://s3.music.126.net/m/s/img/recommand_bg_2x.png) no-repeat;
    background-size: contain;
}

.m-homeft .ftwrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    text-align: center;
}
.m-homeft .logo {
    padding-top: 16.9%;
}
.m-homeft .logosvg {
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 44px;
}
.m-homeft .openapp {
    line-height: 38px;
    border: 1px solid #d33a31;
    border-radius: 38px;
    font-size: 16px;
    color: #d33a31;
    margin: 15px 37px 5px;
}
.m-homeft .copyright {
    color: #888;
    font-size: 12px;
    line-height: 16px;
    -webkit-transform: scale(.75);
    transform: scale(.75);
}